@media screen and (min-width: 200px) and (max-width: 319px) {
  nav {
    padding: 10px 30px 0 10px;
  }
  .header {
    margin-top: 150px;
    flex-direction: column;
    width: 100%;
  }
  .cursor{
    display: none;
  }
  .header .col-1 {
    flex-direction: column;
    width: 100%;
    text-align: center;
    justify-content: center;
    display: block;
  }
  p {
    font-size: small;
  }
  h1 {
    font-size: 35px;
  }
  .header .hero {
    width: 100%;
    display: block;
    justify-content: center;
    text-align: center;
  }
  .header .col-2 img {
    max-width: 100%;
    height: 200px;

    box-shadow: 0px 0px 33px var(--h1);
    border-radius: 50%;
  }

  .wrapper {
    margin-top: 14px;
  }

  p {
    font-size: 12px;
  }
  .multitextt {
    color: var(--h5);
    font-size: 15px;
    font-weight: 800;
    letter-spacing: 1px;
  }
  .multitext {
    font-weight: 600;
    color: var(--h2);
    text-transform: capitalize;
  }
  .header .col-2 {
    margin-top: 40px;
    margin-left: 0px;
    justify-content: center;
  }

  .ctn {
    margin: 10px 0px;
  }
  .social-icons {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .social-icons ul li {
    padding-top: 20px;
    margin: 2px 40px;
  }

  .about {
    width: 100%;
    margin: 58px auto;
  }
  .about__info {
    display: block;
    justify-content: center;
  }
  .about-info-name-img {
    width: 100%;
    justify-content: center;
    text-align: center;
  }
  .about2__info {
    /* display: flex; */
    justify-content: space-evenly;
    place-items: center;
    height: auto;
    margin-bottom: 30px;}

svg{
  margin: 0px;
}

  .hoverimgposition .about__info-title {
    text-align: center;
    font-size: 1.5rem;
  }
  .hoverimgposition {
    width: 100%;
  }
  .hoverimgposition .hoverimg {
    position: absolute;
    width: 47%;
    height: 53%;
    top: 32.5%;
    left: 27%;
  }
  .testimonials {
    width: 100%;
  }
  .testimonials .grid-wrapper {
    flex-direction: column;
    max-height: auto;
  }
  .grid-box {
    margin-bottom: 10px;
  }
  .testimonials .grid-box img {
    width: 100px;
    border-radius: 50%;
    margin-bottom: 1px;
    margin-top: 1px;
    transition: transform 0.5s ease;
  }

  .footer_sociallogo {
    justify-content: center;
    display: flex;
    font-size: x-large;
    margin: 0px auto 0px 0px;
  }

  .footer_sociallogo a {
    display: flex;
    margin-left: -9px;
    font-size: x-large;
  }

  .bottom-line {
    height: 2.7px;
    width: 5rem;
    background: var(--h3);
    display: block;
    margin: 7px auto 1rem auto;
    padding: auto;
    text-align: center;
  }
  .fotterlfex {
    display: block;
  }

  .footer_section {
    width: 100%;
  }
  .about2__info {
    width: 100%;
    height: auto;
    flex-direction: column;
  }
  .about2__info h2 {
    display: block;
  }

  .lang h2 {
    font-size: rem;
    display: none;
  }
  .lan h2 {
    display: none;
  }

  .about__info-title {
    font-size: 2px;
  }
  .footerimglogo img {
    width: 20%;
    border-radius: 50%;
    border: 3px solid var(--h3);
    margin-bottom: 10px;
    justify-content: center;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}

/* -----------------------mobile ----------------------------------------- */


@media only screen and (max-width: 480px) {
  nav {
    padding: 0 30px 0 11px;
  }
  .about2__info{
    margin-top: 30px;
  }
  .cursor{
    display: none;
  }
  #header {
    margin-top: 150px;
  }
  #header .hero {
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }
  .header .col-2 {
    margin-top: 40px;
    margin-left: 0px;
    justify-content: center;
  }

  .about {
    width: 100%;
    margin: 58px auto;
  }
  .about__info {
    display: block;
    justify-content: center;
  }
  .wrapper {
    width: 100%;
    margin-top: 15px;
  }
  .multitextt {
    font-size: 22px;
  }
  .about2__info {
    width: 100%;
    height: auto;
    display: block;
    flex-direction: column;
  }
  .about2__info h2 {
    display: block;
    margin-bottom: 3px;
  }


  /* .section2__title {
    margin-top:72px;
  } */
  #about2{
    height: auto;
    padding-top: 70px;
  }
  #about3{
  height: auto;
    padding-top: 28px;
  }
  
  .about-info-name-img {
    width: 220px;
  }
  .about__info-title {
    font-size: 25px;
  }

  
  .about2__description {
    margin-bottom: 40px;
  }
  .hoverimgposition {
    margin: 65px auto;
  }
  .hoverimgposition .hoverimg {
    width: 54%;
    margin: 0px auto;
    height: 56%;
    top: 34.6%;
    left: 22.7%;
  }
  .hoverimg h4 {
    font-size: 13px;
  }

  .social-icons ul {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: inherit;
  }
  h1 {
    font-size: 34px;
  }
  p {
    font-size: 13px;
  }
  .social-icons ul li {
    margin: 2px 30px;
  }
  .bottom-line {
    height: 2.3px;
    width: 6rem;
    background: var(--h3);
    display: block;
    margin: 7px auto 1rem auto;
    padding: auto;
    text-align: center;
  }
  .fotterlfex {
    display: block;
  }

  .footer_section {
    width: 100%;
  }
  .skills-box h3{
    font-size:0.9rem;
  }
  .skills-icons{
    width: 90%;
  }

  .footer_container p {
    font-size: 0.8rem;
  }
  .footer_sociallogo {
    justify-content: center;
    display: flex;
    font-size: 21px;
    margin: 2px auto 0px 0px;
  }
  .footer_contact {
    margin-top: 15px;
  }
  .socialfooter {
    margin-top: 15px;
  }
  .testimonials {
    width: 100%;
    padding: 40px 0px;
  }
  .testimonials .grid-wrapper {
    flex-direction: column;
    max-height: auto;
  }
  .grid-box {
    margin-bottom: 10px;
  }
  .testimonials .grid-box {
    margin-bottom: 83px;
  }
  .testimonials .grid-box img {
    width: 100px;
    border-radius: 50%;
    margin-bottom: 1px;
    margin-top: -60px;
    transition: transform 0.5s ease;
  }
  .testimonials .grid-box .fa-quote-left {
    font-size: 14px;
    margin-top: 10px;
  }
  .footerimglogo img {
    width: 15%;
    border-radius: 50%;
    border: 3px solid var(--h3);
    margin-bottom: 10px;
    justify-content: center;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .testimonials .grid-box{
    width: 100%;
    padding: 12px;
    }
}
 /* animationhover poisison ------------------------ */
@media only screen and (min-width: 200px) and (max-width: 433px) {
  .wrapper .multitextt {
    font-size: 15px;
  }
  p{
    font-size: 13.5px;
  }
  .hoverimgposition .hoverimg {
    width: 62%;
    margin: 0px auto;
    height: 59%;
    top: 33.5%;
    left: 18.8%;
}
.cursor{
  display: none;
}
}
@media only screen and (min-width: 200px) and (max-width: 360px) {
  .hoverimgposition .hoverimg {
    width: 76%;
    margin: 0px auto;
    height: 59%;
    top: 33.5%;
    left: 11.8%;
}
.cursor{
  display: none;
}

}
@media only screen and (min-width: 200px) and (max-width: 310px) {
  .about{
    width: 100%;
  }
  .about-info-name-img{
    width: 175px;
  }
  .hoverimgposition .hoverimg {
    width: 77%;
    margin: 0px auto;
    height: 52%;
    top: 42.5%;
    left: 13.8%;
}
.cursor{
  display: none;
}


}
@media only screen and (min-width: 328px) and (max-width: 350px) {
  .hoverimgposition .hoverimg {
    width: 77%;
    margin: 0px auto;
    height: 59%;
    top: 33.5%;
    left: 13%;
}
.cursor{
  display: none;
}
}
@media only screen and (min-width: 300px) and (max-width: 327px) {
  .hoverimgposition .hoverimg {
    width: 82%;
    margin: 0px auto;
    height: 59%;
    top: 33.5%;
    left: 13.7%;
}
.cursor{
  display: none;
}
}

@media only screen and (min-width: 476px) and (max-width: 611px) {
  .testimonials .grid-box{
    width:100%;
    padding: 12px;
    }
    .section2__title{
      margin-top: 60px;
    }
    .cursor{
      display: none;
    }
  nav {
    padding: 0 30px 0 11px;
  }
  #header {
    margin-top: 150px;
  }
  #header .hero {
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }
  .header .col-2 {
    margin-top: 40px;
    margin-left: 0px;
    justify-content: center;
  }
 .skills-icons{
  width: 60%;
 }
 .skills-box h3{
  font-size:0.9rem;
}

  .about {
    width: 100%;
    margin: 58px auto;
  }
  .about__info {
    display: block;
    justify-content: center;
  }
  .wrapper {
    width: 100%;
    margin-top: 15px;
  }
  .multitextt {
    font-size: 22px;
  }
  .about2__info {
    width: 100%;
    height: auto;
    display: block;
    margin-top: 20px;
    flex-direction: column;
  }
  .about2__info h2 {
    display: block;
    margin-bottom: 3px;
  }
  #about2{
    height: auto;
  
  }
  #about3{
    height: auto;
    padding-top: 28px;
  }
 
  .about-info-name-img {
    width: 220px;
  }
  .about__info-title {
    font-size: 25px;
  }

  
  .about2__description {
    margin-bottom: 40px;
  }
  .hoverimgposition {
    margin: 65px auto;
  }
  .hoverimgposition .hoverimg {
    width: 54%;
    margin: 0px auto;
    height: 56%;
    top: 34.6%;
    left: 22.7%;
  }
  .hoverimg h4 {
    font-size: 13px;
  }

  .social-icons ul {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: inherit;
  }
  h1 {
    font-size: 34px;
  }
  p {
    font-size: 13px;
  }
  .social-icons ul li {
    margin: 2px 30px;
  }
  .bottom-line {
    height: 2.3px;
    width: 6rem;
    background: var(--h3);
    display: block;
    margin: 7px auto 1rem auto;
    padding: auto;
    text-align: center;
  }
  .fotterlfex {
    display: block;
  }

  .footer_section {
    width: 100%;
  }

  .footer_container p {
    font-size: 0.8rem;
  }
  .footer_sociallogo {
    justify-content: center;
    display: flex;
    font-size: 21px;
    margin: 2px auto 0px 0px;
  }
  .footer_contact {
    margin-top: 15px;
  }
  .socialfooter {
    margin-top: 15px;
  }
  .testimonials {
    width: 100%;
    padding: 40px 0px;
  }
  .testimonials .grid-wrapper {
    flex-direction: column;
    max-height: auto;
  }
  .grid-box {
    margin-bottom: 10px;
  }
  .testimonials .grid-box {
    margin-bottom: 83px;
  }
  .testimonials .grid-box img {
    width: 100px;
    border-radius: 50%;
    margin-bottom: 1px;
    margin-top: -60px;
    transition: transform 0.5s ease;
  }
  .testimonials .grid-box .fa-quote-left {
    font-size: 14px;
    margin-top: 10px;
  }
  .footerimglogo img {
    width: 15%;
    border-radius: 50%;
    border: 3px solid var(--h3);
    margin-bottom: 10px;
    justify-content: center;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}




/* tablets======================================================================================= */

@media only screen and (min-width: 580px) and (max-width: 768px) {
  nav {
    padding: 10px 30px 0 11px;
  }
 
  /* ----------------------header--------------------- */
  .header {
    margin-top: 150px;
    flex-direction: column;
    width: 100%;
  }
  .cursor{
    display: none;
  }
  .header .col-1 {
    flex-direction: column;
    width: 100%;
    text-align: center;
    justify-content: center;
    display: block;
  }
  p {
    font-size: small;
  }
  h1 {
    font-size: 35px;
  }
  .header .hero {
    width: 100%;
    display: block;
    justify-content: center;
    text-align: center;
  }
  .header .col-2 img {
    max-width: 100%;
    height: 200px;

    box-shadow: 0px 0px 33px var(--h1);
    border-radius: 50%;
  }

  .wrapper {
    margin-top: 14px;
  }

  p {
    font-size: 14px;
  }
  .multitextt {
    color: var(--h5);
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 1px;
  }
  .multitext {
    font-weight: 600;
    color: var(--h2);
    text-transform: capitalize;
  }
  .header .col-2 {
    margin-top: 40px;
    margin-left: 0px;
    justify-content: center;
  }

  .ctn {
    margin: 10px 0px;
  }
  .social-icons {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .social-icons ul li {
    padding-top: 20px;
    margin: 2px 40px;
  }

  .about {
    width: 100%;
    margin: 58px auto;
  }
  .about__info {
    display: block;
    justify-content: center;
  }
  .about-info-name-img {
    width: 100%;
    justify-content: center;
    text-align: center;
  }
  .hoverimgposition .about__info-title {
    text-align: center;
    font-size: 1.5rem;
  }
  .hoverimgposition {
    width: 65%;
    margin: 68px auto;
  }
  .hoverimgposition .hoverimg {
    position: absolute;
    width: 80%;
    height: 65%;
    top: 26.5%;
    left: 11%;
  }
 
 
 

  /* skliss------------ */
  .lang {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-left: -197px;
  }

  .lang .circlename {
    font-size: 20px;
    margin-bottom: 25px;
    margin-left: 170px;
  }
  .lan {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-left: -109px;
  }
  .lan .circlenam {
    font-size: 20px;
    margin-bottom: 25px;
    margin-left: 115px;
  }

  .testimonials {
    width: 100%;
  }

  .footer_sociallogo {
    display: flex;
    font-size: x-large;
    margin: 0px auto 0px 47px;
  }
  .footer_sociallogo a {
    display: flex;
    margin-left: -39px;
    font-size: x-large;
  }
  .footerimglogo img {
    width: 9%;
    border-radius: 50%;
    border: 3px solid var(--h3);
    margin-bottom: 10px;
    justify-content: center;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .bottom-line {
    height: 2.7px;
    width: 15rem;
    background: var(--h3);
    display: block;
    margin: 7px auto 1rem auto;
    padding: auto;
    text-align: center;
  }
  .footerimglogo img{
    width: 60px;
  }
}
@media only screen and (min-width:772px) and (max-width: 1080px) {
  nav {
    padding: 10px 30px 0 11px;
  }
  .header p{
   
    margin-top: 17px;

  }
  #header{
    margin-top: 170px;
  }
  .multitextt{
    font-size: 20px;
    margin-bottom: 10px;
  }
  .ctn{
    width: 92px;
  }
  .hoverimgposition .hoverimg {
    width: 80%;
    margin: 0px auto;
    height: 59%;
    top: 33.5%;
    left: 13%;
}

.social-icons ul {
    display:flex;
    flex-wrap: inherit;
  
    /* flex-wrap: wrap; */
}
h1{
  font-size: 35px;

}
p{
  font-size: 14px;
}
.about-info-name-img {
  width: 210px;
  margin-left: 10px;
}
.about__info-title{
  font-size: 25px;
  margin-top: 10px;
}
.lan{
  margin-left: -126px;

}
.lan .circlenam{
  margin-left:133px ;
}
.lang{
  margin-left:-232px ;

}
.lang .circlename{
  margin-left: 202px;
}
.footerimglogo img{
  width: 60px;
}
}
@media only screen and (min-width:1081px) and (max-width: 1381px) {


  .header p{
   
    margin-top: 17px;

  }
  #header{
    margin-top: 170px;
  }
  .multitextt{
    font-size: 20px;
    margin-bottom: 10px;
  }
  .ctn{
    width: 92px;
  }
  

.social-icons ul {
    display:flex;
    flex-wrap: inherit;
  
    /* flex-wrap: wrap; */
}
h1{
  font-size: 35px;

}
p{
  font-size: 14px;
}
.about-info-name-img {
  width: 210px;
  margin-left: 10px;
}
.about__info-title{
  font-size: 25px;
  margin-top: 10px;
}
.lan{
  margin-left: -126px;

}
.lan .circlenam{
  margin-left:133px ;
}
.lang{
  margin-left:-232px ;

}
.lang .circlename{
  margin-left: 202px;
}
.footerimglogo img{
  width: 60px;
}
.hoverimgposition .hoverimg {
  width: 80%;
  margin: 0px auto;
  height: 59%;
  top: 33.8%;
  left: 12.7%;
}
}